# Compiled C/C++ files (Windows)
*.exe
# Compiled C/C++ files (Linux)
*.out
# Settings of VSCode folder
.vscode
# Java build folder
build
# Netbeans private folder
private
# Compiled code/library folder
dist
# Eclipse folder
.settings
# Java and C excecutable folder
bin
# Easy C++ projects file (vscode extension)
Makefile
# Include folder just for C++ projects
C++/*/include
# Libraries folder just for C++ projects
C++/*/lib
# Txt files created by programs
C++/*/*.txt
# Netbeans project folder
nbproject
# Netbeans configuration folder
conf
# Netbeans target folder
target

# Database
*.sqlite3
*.db

Django/**/migrations
Django/**/__pycache__

# Django cms
Django/**/bin/
Django/**/lib/
Django/**/include/

# C++ projects input file
/input.txt

# Python virual envieroments
venv/
.venv/

# Java web
*.dat
*.log
*.lck
*.ctrl

# Stramlit calendars
Streamlit/calendars.json

