# Compiled C/C++ files (Windows)
*.exe
# Compiled C/C++ files (Linux)
*.out
# Settings of VSCode folder
.vscode

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# Class Files #
*.class
# Package Files #
*.jar
*.war
*.ear

# Eclipse folder
.settings
# Java and C excecutable folder
bin
# Easy C++ projects file (vscode extension)
Makefile
# Include folder just for C++ projects
C++/*/include
# Libraries folder just for C++ projects
C++/*/lib
# Txt files created by programs
C++/*/*.txt

# Database
*.sqlite3
*.db

Django/**/migrations
Django/**/__pycache__

# Django cms
Django/**/bin/
Django/**/lib/
Django/**/include/

# C++ projects input file
/input.txt

# Python virual envieroments
venv/
.venv/

# Java web
*.dat
*.log
*.lck
*.ctrl

/Java/TheNewStart/nbproject/private/
/Java/HelloWorld/nbproject/private/
/Java/Point/nbproject/private/
/Java/ShapesJavaFX/nbproject/private/
/Java/Shape/nbproject/private/
/Java/CircleWithRadius/nbproject/private/
/Java/2019-06-17HelloWorld_/nbproject/private/
/Java/2019-06-17HelloWorld/nbproject/private/
/Java/2019-06-18Point_/nbproject/private/
/Java/2019-06-18CircleWithRadius/nbproject/private/
/Java/UniversityManagement/nbproject/private/
/Java/2019-06-18UniversityManagement/nbproject/private/
/Java/Virus/nbproject/private/
/Java/2019-06-19Virus/nbproject/private/
/Java/PictureInAWindow/nbproject/private/
/Java/2019-06-19PictureInAWindow/nbproject/private/
/Java/Poker/nbproject/private/
/Java/2019-06-20Poker/nbproject/private/
/Java/ListenerApp/nbproject/private/
/Java/2019-06-22ListenerApp/nbproject/private/
/Java/PickAColor/nbproject/private/
/Java/2019-06-22PickAColor/nbproject/private/
/Java/MiniCalculator/nbproject/private/
/Java/2019-06-23MiniCalculator/nbproject/private/
/Java/Calculator/nbproject/private/
/Java/2019-06-24Calculator/nbproject/private/
/Java/PositionPane/nbproject/private/
/Java/2019-06-23PositionPane/nbproject/private/
/Java/NumberPad/nbproject/private/
/Java/2019-06-25NumberPad/nbproject/private/
/Java/City/nbproject/private/
/Java/2019-06-26City/nbproject/private/
/Java/CerchiERettangoli/nbproject/private/
/Java/2019-06-27CerchiERettangoli/nbproject/private/
/Java/FigureGeometriche/nbproject/private/
/Java/2019-06-28FigureGeometriche/nbproject/private/
/Java/RectanglesInARow/nbproject/private/
/Java/2019-06-28RectanglesInARow/nbproject/private/