*.exe
.vscode/*
!.vscode/tasks.json
/JavaUni/FirstProject/nbproject/private/
/JavaUni/FirstProject/build/
/Python/credential*
/JavaUni/Fattoria/nbproject/private/
/JavaUni/HelloWorld/nbproject/private/
/JavaUni/HelloWorld/build/
/JavaUni/Point3D/nbproject/private/
/JavaUni/Point/nbproject/private/
/JavaUni/Point/build/
/JavaUni/Point/dist/
/JavaUni/LabFirst/nbproject/private/
/JavaUni/LabFirst/build/
/JavaUni/Person/nbproject/private/
/JavaUni/Person/build/
/Java/JavaApplication7/nbproject/private/
/Java/ShapesJavaFX/nbproject/private/
/Java/ShapesJavaFX/build/
/Java/ShapesJavaFX/dist/
/Java/PingPong/nbproject/private/
/Java/PingPong/build/
/Java/PingPong/dist/
/Java/Virus/nbproject/private/
/Java/Virus/build/
/Java/Virus/dist/
/Java/PictureInAWindow/nbproject/private/
/Java/PictureInAWindow/build/
/Java/PictureInAWindow/dist/
/Java/University/nbproject/private/
/Java/University/build/
/Java/Binding/nbproject/private/
/Java/Binding/build/
/Java/Poker/nbproject/private/
/Java/Poker/build/
/Java/Poker/dist/
/Java/UniversityManagement/nbproject/private/
/Java/ListenerApp/nbproject/private/
/Java/ListenerApp/build/
/Java/ListenerApp/dist/
/Java/PickAColor/nbproject/private/
/Java/PickAColor/build/
/Java/PickAColor/dist/
/Java/PositionPane/nbproject/private/
/Java/PositionPane/dist/
/Java/PositionPane/build/
/Java/Calculator/nbproject/private/
/Java/Calculator/dist/
/Java/Calculator/build/
/Java/MiniCalculator/build/
/Java/MiniCalculator/dist/
/Java/MiniCalculator/nbproject/private/
/Java/NumberPad/nbproject/private/
/Java/NumberPad/dist/
/Java/NumberPad/build/
/Java/SlotMachine/nbproject/private/
/Java/SlotMachine/build/
/Java/SlotMachine/dist/
/Java/City/nbproject/private/
/Java/City/build/
/Java/City/dist/